rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /site_activity/{document} {
      allow create, read, write: if true;
    }
  }
}
